<div class="container-fluid">
    <div class="row">
        <div class="col-12 header unselectable position-relative">
            <img src='/assets/images/logo.png' class='logo'>
            <div class="menuButtons">
                <ng-container 
                  *ngFor='let button of menuBur; let i = index;'>
                    <div 
                      class="menuButton boldText"
                      (click)='onClickBur(button)'
                      [ngClass]="button | activeMenu: date"
                      *ngIf='!button.submenu'>
                        {{ button.name }}
                    </div>
                    <a [href]="domain + button"></a>
                    <ng-container>
                      <div class='menuButton submenu boldText'
                      [ngClass]="button | activeMenu: date"
                      *ngIf="button.submenu" 
                      [matMenuTriggerFor]="menu">
                        {{ button.name }}
                      </div>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item [disabled]="menu.disabled"
                        *ngFor='let menu of button.submenu; let j = index;'
                        [ngClass]="button | activeMenu: date: menu"
                          (click)='onSubmenus(i, j)'>
                          {{ menu.name }}
                        </button>
                      </mat-menu>
                    </ng-container>
                </ng-container>
                <button class="btn btn-secondary button getInTouch boldText" (click)="onContact()">
                  Contact Us
                </button>
            </div>
            <!-- for mobile -->
            <div class="menuButtonsMobile">
              <button mat-button [matMenuTriggerFor]="menu" [color]="'primary'" class="menu-button boldText">
                <mat-icon>menu</mat-icon>
              </button>
                <mat-menu #menu="matMenu">
                  <ng-container *ngFor="let button of menuBur; let i = index;">
                    <button mat-menu-item 
                      (click)='onClickBur(button)'
                      *ngIf="!button.submenu" 
                      [ngClass]="button | activeMenu: date">
                      {{button.name}}
                    </button>
                    <ng-container *ngIf="button.submenu">
                      <button mat-menu-item [matMenuTriggerFor]="submenu"  [ngClass]="button | activeMenu: date">
                        {{button.name}}
                      </button>
                      <mat-menu #submenu="matMenu">
                        <button mat-menu-item 
                        *ngFor="let menu of button.submenu; let j = index" 
                        [ngClass]="button | activeMenu: date: menu" 
                        (click)='onSubmenus(i, j)'>
                          {{menu.name}}
                        </button>
                      </mat-menu>
                    </ng-container>
                  </ng-container>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
